<div bsModal #editCourseModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" course="dialog" aria-labelledby="edidtCourseModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #editCourseForm="ngForm" id="frm_edit_course" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("EditCourse")}} <span *ngIf="model.course.isStatic"> (<span style="color:red">static</span>)</span></span>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="coursename" [disabled]="model.course.isStatic" type="text" name="CourseName" [(ngModel)]="model.course.name" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="coursename" class="form-label">{{l("CourseName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="displayname" type="text" name="DisplayName" [(ngModel)]="model.course.displayName" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="displayname" class="form-label">{{l("DisplayName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea id="course-description" name="Description" [(ngModel)]="model.course.description" class="validate form-control"></textarea>
                                    <label for="course-description" class="form-label">Course Description</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h4>Permissions</h4>

                            <ng-template ngFor let-permission [ngForOf]="model.permissions" let-permissionIndex="index">
                                <div class="col-sm-6">
                                    <input [disabled]="model.course.isStatic" type="checkbox" name="permission" value="{{permission.name}}" class="filled-in" id="permission-{{permissionIndex}}" checked="{{checkPermission(permission.name)}}" />
                                    <label for="permission-{{permissionIndex}}">{{permission.displayName}}</label>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!editCourseForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        {{l("Save")}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
